<div class="container">

  <div class="d-flex flex-row justify-content-between m-3">
    <h1>Mister Cocktail</h1>
    <div class="p-2"><%= link_to 'New Cocktail', new_cocktail_path, class: 'btn btn-primary' %></div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="container">
      <div class="row">
        <% @cocktails.each do |cocktail| %>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= cocktail.name %></h5>
            </div>
            <ul class="list-group list-group-flush">
              <% cocktail.doses.first(3).each do |dose| %> 
                <li class="list-group-item">
                  <%= dose.description %>
                  <strong><%= dose.ingredient.name %></strong>
                </li>
              <% end %>
                <li class="list-group-item"><strong><%= link_to '...', cocktail %></strong></li>
            </ul>
              <div class="card-body d-flex justify-content-between">
                <%= link_to 'Show', cocktail %>
                <%= link_to cocktail, method: :delete do %>
                  <i class="fa fa-trash"></i>
                <% end %>
                
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    
  </div>

</div>