<div class="container">

   <div class="d-flex flex-row justify-content-end">
     <h1 class="flex-grow-1"><%= @cocktail.name %></h1>
     <div class="p-2"><%= link_to 'Edit', edit_cocktail_path(@cocktail), class: 'btn btn-primary' %> |</div>
     <div class="p-2"><%= link_to 'See All Cocktails', cocktails_path, class: 'btn btn-primary' %> |</div>
     <div class="p-2"><%= link_to 'Add a Dose', new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %></div>
   </div>

<br>

   <h3>How to make it...</h3>
      <table class="table">
        <tbody>
          <thead>
            <th>Ingredient</th>
            <th>Description</th>
            <th>Action</th>
          </thead>
          <% @cocktail.doses.each do |dose| %>
            <tr>
              <td><%= dose.description %>...</td>
              <td><%= dose.ingredient.name %></td>
              <td>
                <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fa fa-trash destroy_dose"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
</div>


